* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}


#text-container {
    line-height: 2;
    height: 2000px;
    padding: 0;
}

li {
    list-style: none;
}

li ~ li {
 font-size: smaller;
 
}